{% extends 'emails/base_email.html' %}

{% block email_title %}Solicitud de Equivalencia - {{ detalle.id_estudiante.nombre_completo|upper}}{% endblock %}

{% block email_content %}
<p>Hola,</p>

<p>
  Le envío la documentación para dar, si corresponde, la equivalencia de 
  <strong>{{ detalle.id_asignatura.asignatura.nombre }}</strong>, al futuro estudiante 
  <strong>{{ solicitud.id_estudiante.nombre_completo|upper }}</strong>.
</p>

<p>
  Agradeceré que responda a este mismo correo con su dictamen. 
  No es necesario reenviar el archivo.
</p>

<p>Sin otro particular.</p>

<p style="margin-top: 30px; font-size: 15px; font-family: 'Calibri', sans-serif; color: #174E86;">
  <strong>Ing. Jorge RONCONI</strong><br>
  Secretario de Departamento
</p>

<p style="font-size: 15px; font-family: 'Calibri', sans-serif; color: #174E86;">
  <strong>
    Departamento Ingeniería Civil<br>
    Universidad Tecnológica Nacional<br>
    Facultad Regional La Plata
  </strong>
</p>

<p style="font-size: 15px; font-family: 'Calibri', sans-serif; text-align: center; color: #70AD47;">
  Universidad Pública, Gratuita y de Calidad.
</p>
{% endblock %}